<p> </p>
    <h1>hello world </h1>
{{myvar1}}
{{myvar2}}

<input type = "button" value="Do Something" ng-click="showAlert('abc')"/>

<div align="center">
    <table id="customers">

        <tr>
            <th>Num</th>
            <th>Account Number</th>
            <th>Currency</th>
            <th>Ballance</th>
            <th>Status</th>

        </tr>

        <tr ng-click="buttonClick(oneRec.id)" id="ctr" ng-repeat="oneRec in arrRec track by $index">
            <td>{{$index + 1}}</td>
            <td>{{oneRec.accountNumber}}</td>
            <td>{{oneRec.currency}}</td>
            <td>{{oneRec.ballance}}</td>
            <td>{{oneRec.status}}</td>

        </tr>
    </table>
</div>